# Puerto del gateway (entry point de toda la API)
PORT=3000

# URLs internas de cada microservicio
# En desarrollo local: http://localhost:XXXX
# En Render (deploy): https://nombre-servicio.onrender.com
AUTH_SERVICE_URL=http://localhost:3001
PARKS_SERVICE_URL=http://localhost:3002
RESERVATION_SERVICE_URL=http://localhost:3003
EVENTS_SERVICE_URL=http://localhost:3004
INCIDENTS_SERVICE_URL=http://localhost:3005
MAINTENANCE_SERVICE_URL=http://localhost:3006
INVENTORY_SERVICE_URL=http://localhost:3007

# Origen(es) permitidos por CORS (separados por coma si son varios)
# En desarrollo: http://localhost:5173
# En producción: https://tu-app.vercel.app
CORS_ORIGIN=http://localhost:5173
