PORT=3000

# URLs de los microservicios — en desarrollo local dejar como localhost
AUTH_SERVICE_URL=http://127.0.0.1:3001
PARKS_SERVICE_URL=http://127.0.0.1:3002
RESERVATION_SERVICE_URL=http://127.0.0.1:3003
EVENTS_SERVICE_URL=http://127.0.0.1:3004
INCIDENTS_SERVICE_URL=http://127.0.0.1:3005
MAINTENANCE_SERVICE_URL=http://127.0.0.1:3006
INVENTORY_SERVICE_URL=http://127.0.0.1:3007

CORS_ORIGIN=*
