PORT=3005
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/bucapark_db?retryWrites=true&w=majority&appName=cluster
# Debe ser IGUAL al JWT_SECRET de auth-service (todos los servicios comparten el mismo secreto)
JWT_SECRET=tu_jwt_secret_minimo_32_caracteres_aqui
